{% extends skeleton %}
{% block zHead %}
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=cyrillic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/pub/styles/main.css">
{% endblock %}
{% block zHeader %}
  {{  menuContent|raw }}
{% endblock %}
{% block zContent %}
  {{  pageContent|raw }}
{% endblock %}
{% block zSidebar %}
  Здесь будет сайдбар
{% endblock %}
{% block zFooter %}
  <div class="m-footer">
    <div class="m-footer__left">2015 © Все права принадлежат народу</div>
    <div class="m-footer__right">Сделано с <i class="fa fa-heart"></i> к котикам и работает на <a href="http://zorcacms.org">Zorca CMS</a></div>
  </div>
{% endblock %}
